mixin loop()
	#rt-showcase
		#main
			#iphone
				#webpage
					img(src="%=staticPrefix=%images/content/background.jpg" width="1400" height="732")
					#retina
						span
						.blik
							img(src="%=staticPrefix=%images/content/blik.png" alt="Лупа" width="240" height="240")