mixin footer(data)
	footer.footer
		.footer__wrapper
	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='http://yastatic.net/jquery/2.1.4/jquery.min.js')
	script(src='%=staticPrefix=%js/separate-js/jquery.lettering-0.6.1.min.js')
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')